/* *{
    margin-top: 5px;
} */
.edit-story-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-story-form label {
    display: block;
    /* margin-bottom: 8px; */
}

.edit-story-form input,
.edit-story-form textarea {

    width: 100%;
    padding: 8px;
    /* margin-bottom: 8px; */
    box-sizing: border-box;
    border-color: rgb(206, 206, 206);
    border-radius: 2px;
}

.edit-story-form textarea {
    height: 320px;
}

.action-buttons {
    display: flex;
    justify-content: flex-start;

    align-items: center;


}

.edit-story-form .submit-button,
.edit-story-form .back-button {

    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    height: 41px;
    width: 70px;
    font-size: medium;
    margin-right: 8px;

}

.edit-story-form .submit-button {
    background-color: rgb(9, 110, 9);
}

.edit-story-form .back-button {
    background-color: rgb(203, 203, 203);
    color: black;
    border: rgb(150, 150, 150) solid 1px;
}


.edit-story-form .submit-button:hover,
.edit-story-form .back-button:hover {

    cursor: pointer;
}

.edit-story-form .back-button:hover {
    background-color: rgb(149, 149, 149);
}

.edit-story-form .submit-button:hover {
    background-color: rgb(0, 70, 0);
}