.user-icon-post-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-icon-post-div img {
    margin-top: 10px;
    width: 60px;

    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.post-div button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 500px;

    height: 50px;
    font-size: 18px;
    /* Slightly reduced font size for better readability */
    border: 1px solid #b4b4b4;
    border-radius: 25px;
    /* background-color: #f2f2f2; */
    color: #333;
    /* Adjusted text color for better contrast */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.post-div button:hover {
    background-color: #cfcfcf;
}

/* Optional: Add a subtle box shadow for a lift effect */
.post-div button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Optional: Adjust the border color for a cleaner look */
.post-div button:active {
    border-color: #888;
}

.post-div button:hover {
    cursor: pointer;
}

label {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-button {
    background-color: rgb(52, 147, 255);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    width: fit-content;
    border: 0.5px solid transparent;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

.start-a-post-dialog {}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}