/* CSS for the NavBar component */
.nav-bar-container {
    display: flex;
    /* justify-content: space-b; */
    align-items: center;
    /* background-color: #939191; */
    padding: 10px;
}

.link {
    text-decoration: none;
}

.nav-bar-container .link button {
    padding: 10px 20px;
    background-color: #d1cccc;
    color: #000000;
    border: none;
    font-size: 19px;
    ;
    /* border-radius: 5px; */
    cursor: pointer;

    transition: background-color 0.2s;
}

.link button:hover {
    background-color: green;
    color: white;


}