
.body-page-container {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-left: 200px;
} 

/* ArticleInfo styles */

.article-info { 
    margin-bottom: 20px;  
}
