/* CSS for the PostPage component */
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    /* vertical-align: top; */
    /* Set the cursor at the top */
}

.text-field::placeholder {
    padding-top: 5px;
    font-size: 30px;
    /* Adjust the font size as per your preference */
}

.post-button {
    padding: 10px 20px;
    background-color: #c9c9c9;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.post-button:hover {
    background-color: #24b300;
}